{
  "presets": [
    "es2015",
    "stage-1"
  ],
  "env": {
    "test": {
      "sourceMaps": "inline"
    }
  },
  "plugins": [
    "transform-decorators-legacy",
    [
      "transform-react-jsx",
      {
        "pragma": "ssml"
      }
    ]
  ]
}
